body{
    background: #352f5b;
}
.container{
    max-width: 416px;
}
input[type=text],
input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}
::placeholder {
    color: rgb(219, 202, 202);
    opacity: 1; /* Firefox */
  }
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: rgb(219, 202, 202);
  }

.todos li{
    background: #423a6f;
}
.delete{
    cursor: pointer;
}
.filtered{
    display: none !important;
}